<!DOCTYPE html>
<html>
<head>
<title><{t}>觐见分析<{/t}></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="../../public/css/colorbox.css" />
<script language="javascript" src="../../public/js/jquery.js"></script>
<script language="javascript" src="../../public/js/bootstrap.min.js"></script>
<script language="javascript" src="../../public/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../../public/js/jquery.colorbox-min.js"></script>
<script language="javascript">
$(function(){
	$('.colorbox').click(function(){
		$(this).colorbox({inline:true,fixed:true,width:'500px', height:'400px',opacity:0.1});
	});
});
</script>
</head>

<body>
<div style="margin-top:5px;">
<form class="well form-search" style="margin-bottom:10px; padding-bottom:10px;">
	<label style="margin-left:20px;"><{t}>时间<{/t}>：</label>
	<input class="input-small" placeholder="<{t}>输入开始日期<{/t}>" type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d',minDate:'<{$conditions['open_date']}>',dateFmt:'yyyy-MM-dd'})" id="start_date" name="start_date" value="<{$conditions['start_date']}>">
	<i class="icon-minus"></i>
	<input class="input-small" placeholder="<{t}>输入结束日期<{/t}>" type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d',minDate:'<{$conditions['open_date']}>',dateFmt:'yyyy-MM-dd'})" id="end_date" name="end_date" value="<{$conditions['end_date']}>">
	<button class="btn btn-primary" type="submit" id="btn_search"><{t}>搜 索<{/t}></button>
</form>

<div class="btn-group">
<{foreach $time_conf as $key=>$item}>
<{if $key<=$conditions['today']}>
	<button type="button" onClick="javascript:window.location='?start_date=<{$key}>&end_date=<{$key}>';" class="btn <{if $conditions['start_date']==$key && $conditions['end_date']==$key}>btn-inverse<{/if}>"><{$item}></button>
<{/if}>
<{/foreach}>
</div>

<table class="table table-bordered table-hover" style="margin-top:10px;">
<thead>
	<tr>
		<th rowspan="2" style="vertical-align: middle"><{t}>日期<{/t}></th>
		<th rowspan="2" style="vertical-align: middle;display:none;" ><{t}>猎灵使用率<{/t}></th>
		<th colspan="2"><{t}>白色猎灵<{/t}></th>
		<th colspan="2"><{t}>绿色猎灵<{/t}></th>
		<th colspan="2"><{t}>蓝色猎灵<{/t}></th>
		<th colspan="2"><{t}>紫色猎灵<{/t}></th>
		<th colspan="2"><{t}>橙色猎灵<{/t}></th>
	</tr>
	<tr>

		<th><{t}>铜币<{/t}></th>
		<th><{t}>铜券<{/t}></th>
		<th><{t}>铜币<{/t}></th>
		<th><{t}>铜券<{/t}></th>
		<th><{t}>铜币<{/t}></th>
		<th><{t}>铜券<{/t}></th>
		<th><{t}>铜币<{/t}></th>
		<th><{t}>铜券<{/t}></th>
		<th><{t}>铜币<{/t}></th>
		<th><{t}>铜券<{/t}></th>
	</tr>
</thead>
<tbody>
	<{if $data}>
	<{foreach $data as $date=>$row}>
	<tr>
		<td><{$row['date']}>(<{t}>周<{/t}><{$row['week']}>)</td>
		<td style="display:none;">%</td>
		<td><{$row['whiteJLJB']}></td>
		<td><{$row['whiteJLJQ']}></td>
		<td><{$row['greenJLJB']}></td>
		<td><{$row['greenJLJQ']}></td>
		<td><{$row['blueJLJB']}></td>
		<td><{$row['blueJLJQ']}></td>
		<td><{$row['purpleJLJB']}></td>
		<td><{$row['purpleJLJQ']}></td>
		<td><{$row['orangeJLJB']}></td>
		<td><{$row['orangeJLJQ']}></td>


	</tr>
	<{/foreach}>
	<{else}>
	<tr><td colspan="100"><font color="red"><{t}>暂时搜索不到数据！<{/t}></font></td></tr>
	<{/if}>
</tbody>
</table>

<div class="pagination pagination-centered"><{$page}></div>

</div>
</body>
</html>