<!DOCTYPE html>
<html>
<head>
<title><{t}>摇钱树分布<{/t}></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap-responsive.min.css"/>
<script language="javascript" src="../../public/js/jquery.js"></script>
<script language="javascript" src="../../public/js/bootstrap.min.js"></script>
<script language="javascript" src="../../public/js/My97DatePicker/WdatePicker.js"></script>
</head>

<body>
<div style="margin-top:5px;">
<form class="well form-search" style="margin:10px 0;">
	<label><{t}>日期<{/t}>：</label>
	<input class="input-small" placeholder="<{t}>输入开始日期<{/t}>" type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d',minDate:'<{$conditions['open_date']}>',dateFmt:'yyyy-MM-dd'})" id="start_date" name="start_date" value="<{$conditions['start_date']}>">
		<i class="icon-minus"></i>
		<input class="input-small" placeholder="<{t}>输入结束日期<{/t}>" type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d',minDate:'<{$conditions['open_date']}>',dateFmt:'yyyy-MM-dd'})" id="end_date" name="end_date" value="<{$conditions['end_date']}>">
	<button class="btn btn-primary" type="submit" id="btn_search"  style="margin-left:5px;"><{t}>搜 索<{/t}></button>
</form>

<div class="btn-group">
<{foreach $time_conf as $key=>$item}>
<{if $key<=$conditions['today']}>
	<button onClick="javascript:window.location='?start_date=<{$key}>&end_date=<{$key}>';" class="btn <{if $conditions['start_date']==$key && $conditions['end_date']==$key}>btn-inverse<{/if}>"><{$item}></button>
<{/if}>
<{/foreach}>
</div>

<table class="table table-bordered table-hover" style="margin-top:10px;">
<thead>
	<tr>
		<th><{t}>日期<{/t}></th>
		<th><{t}>平均等级<{/t}></th>
		<th><{t}>使用人数<{/t}></th>
		<th><{t}>人均次数<{/t}></th>
		<th><{t}>加速人数<{/t}></th>
		<th><{t}>人均加速<{/t}></th>
		<th><{t}>金银果次数<{/t}></th>
		<th><{t}>大力一脚人数<{/t}></th>
		<th><{t}>人均一脚次数<{/t}></th>
	</tr>
</thead>
<tbody>
	<{if $data}>
	<{foreach $data as $date=>$row}>
	<tr>
		<td><{$row['date']}>(<{t}>周<{/t}><{$row['week']}>)</td>
		<td><{$row['avg_level']}></td>
		<td><{$row['player']}></td>
		<td><{$row['use_ratio']}></td>
		<td><{$row['quicken_player']}></td>
		<td><{$row['quicken_ratio']}></td>
		<td><{$row['jinyinguo']}></td>
		<td><{$row['foot_player']}></td>
		<td><{$row['foot_ratio']}></td>
	</tr>
	<{/foreach}>
	<{else}>
	<tr><td colspan="100"><font color="red"><{t}>暂时搜索不到数据！<{/t}></font></td></tr>
	<{/if}>
</tbody>
</table>

<div class="pagination pagination-centered"><{$page}></div>

</div>
</body>
</html>