<!DOCTYPE html>
<html>
<head>
<title><{t}>武斗场分析<{/t}></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="../../public/css/colorbox.css" />
<script language="javascript" src="../../public/js/jquery.js"></script>
<script language="javascript" src="../../public/js/bootstrap.min.js"></script>
<script language="javascript" src="../../public/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../../public/js/jquery.colorbox-min.js"></script>
</head>

<body>
<div style="margin-top:5px;">
<form class="well form-search" style="margin:10px 0;">
	<label><{t}>日期<{/t}>：</label>
	<input class="input-small" placeholder="<{t}>输入开始日期<{/t}>" type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d',dateFmt:'yyyy-MM-dd'})" name="start_date" value="<{$conditions['start_date']}>">
		<i class="icon-minus"></i>
		<input class="input-small" placeholder="<{t}>输入结束日期<{/t}>" type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d',dateFmt:'yyyy-MM-dd'})" name="end_date" value="<{$conditions['end_date']}>">
	<button class="btn btn-primary" type="submit" id="btn_search"  style="margin-left:5px;"><i class="icon-search icon-white"></i><{t}>搜索<{/t}></button>
	<input type="hidden" name="action" value="<{$conditions['action']|default:''}>">
</form>

<div class="btn-group">
<{foreach $time_conf as $key=>$item}>
<{if $key<=$conditions['today']}>
	<button onClick="javascript:window.location='?action=<{$conditions['action']}>&start_date=<{$key}>&end_date=<{$key}>';" class="btn <{if $conditions['start_date']==$key && $conditions['end_date']==$key}>btn-inverse<{/if}>"><{$item}></button>
<{/if}>
<{/foreach}>
</div>

<div id="nav" style="margin:10px 0;">
	<ul class="nav nav-tabs">
		<{foreach $action_conf as $key=>$item}>
    <li <{if $conditions['action']==$key}>class="active"<{/if}>><a href="?action=<{$key}>&start_date=<{$conditions['start_date']}>&end_date=<{$conditions['end_date']}>" name="<{$key}>" ><{$item}></a></li>
		<{/foreach}>
	</ul>
</div>

<{if $conditions['action']=='stat'}>
<table class="table table-bordered table-condensed table-hover">
<thead>
	<tr>
		<th><{t}>日期<{/t}></th>
		<th><{t}>满足人数<{/t}></th>
		<th><{t}>参与人数<{/t}></th>
		<th><{t}>参与度<{/t}></th>
		<th><{t}>总武斗次数<{/t}></th>
		<th><{t}>平均武斗次数<{/t}></th>
		<th><{t}>购买武斗次数<{/t}></th>
		<th><{t}>玩家信息<{/t}></th>
	</tr>
</thead>
<tbody>
<{foreach $data as $row}>
	<tr>
		<td><{$row['date']}>(<{t}>周<{/t}><{$row['week']}>)</td>
		<td><{$row['allow_join']}></td>
		<td><{$row['player']}></td>
		<td><{$row['join_ratio']}>%</td>
		<td><{$row['count']}></td>
		<td><{$row['avg_count']}></td>
		<td><{$row['buy_count']}></td>
		<td><a href="?action=rank&end_date=<{$row['date']}>"><i class="icon-search"></i><{t}>点击查看<{/t}></a></td>
	</tr>
<{/foreach}>
</tbody>
</table>

<{elseif $conditions['action']=='rank'}>
<table class="table table-bordered table-condensed table-hover">
<thead>
	<tr>
		<th><{t}>日期<{/t}></th>
		<th><{t}>玩家信息<{/t}></th>
		<{for $index=1 to 10}>
		<th><{t}>第<{/t}><{$index}><{t}>名<{/t}></th>
		<{/for}>
	</tr>
</thead>
<tbody>
<{foreach $data as $row}>
	<tr>
		<td rowspan="3"><{$row['date']}>(<{t}>周<{/t}><{$row['week']}>)</td>
		<td><{t}>角色名<{/t}></td>
		<{for $index=1 to 10}>
		<td><a href="../gm/player.php?id=<{$row['data'][$index-1]['_id']}>"><{$row['data'][$index-1]['name']|default:'--'}></a></td>
		<{/for}>
	</tr>
	<tr>
		<td><{t}>战斗力<{/t}></td>
		<{for $index=1 to 10}>
		<td><{$row['data'][$index-1]['fight']|default:'--'}></td>
		<{/for}>
	</tr>
	<tr>
		<td><{t}>所属帮派<{/t}></td>
		<{for $index=1 to 10}>
		<td><{$row['data'][$index-1]['faction']|default:'--'}></td>
		<{/for}>
	</tr>
<{/foreach}>
</tbody>
</table>
<{/if}>

<div class="pagination pagination-centered"><{$page|default:''}></div>

</div>
</body>
</html>