<!DOCTYPE html>
<html>
<head>
<title><{t}>伙伴（宠物）分析<{/t}></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="../../public/css/colorbox.css"/>
<script language="javascript" src="../../public/js/jquery.js"></script>
<script language="javascript" src="../../public/js/bootstrap.min.js"></script>
<script language="javascript" src="../../public/js/My97DatePicker/WdatePicker.js"></script>
<script language="javascript">
$(function(){
	$('.time_type').click(function(){
		$('#start_date').val($(this).attr('start-date'));
		$('#end_date').val($(this).attr('end-date'));
		$('#type').val($(this).attr('name'));
		$('input[name="action"]').val("<{$conditions['action']}>");
		$('#btn_search').click();
	});

	$('.item').toggle(function(){
		$('.'+this.name).fadeIn();
	},function(){
		$('.'+this.name).hide();
	});

	$('.strong').toggle(function(){
		$('.'+this.name).fadeIn();
	},function(){
		$('.'+this.name).hide();
	});
});
</script>
</head>

<body>
<div id="nav">
	<ul class="nav nav-tabs" style="margin-bottom:10px;">
		<{foreach $action_conf as $key=>$item}>
    <li <{if $key==$conditions['action']}>class="active"<{/if}>><a href="?action=<{$key}>&start_date=<{$conditions['start_date']}>&end_date=<{$conditions['end_date']}>&type=<{$conditions['type']}>"><{$item}></a></li>
		<{/foreach}>
	</ul>
</div>

<div style="margin-top:5px;">
<form class="well well-small form-search">
<{if $conditions['action']=='jinjian'}>
	<div class="accordion-heading">
	 	<span class="accordion-toggle" data-toggle="collapse" href="#collapse">
				<a href="javascript:;"><{t}>定义说明<{/t}></a>
		</span>
	</div>
	<div id="collapse" class="accordion-body in collapse">
		<div class="accordion-inner">
			<ol>
				<li><{t}>铜钱觐见参与人数：每日进行至少1次铜钱觐见的玩家数<{/t}></li>
				<li><{t}>铜钱觐见参与次数：每日所有玩家总共进行的铜钱觐见的次数<{/t}></li>
				<li><{t}>消耗铜钱：铜钱觐见消耗铜钱总数<{/t}></li>
				<li><{t}>人均消耗铜钱：消耗铜钱/铜钱觐见参与人数<{/t}></li>
				<li><{t}>元宝觐见参与人数：每日进行至少1次元宝觐见的玩家数<{/t}></li>
				<li><{t}>元宝觐见参与次数：每日所有玩家总共进行的元宝觐见的次数<{/t}></li>
				<li><{t}>消耗元宝：元宝觐见消耗元宝总数<{/t}></li>
				<li><{t}>人均消耗元宝：消耗元宝/元宝觐见参与人数<{/t}></li>
				<li><{t}>完成双倍的人数:用**/**的形式，前一个数字表示当天v1完成所有双倍次数的人数，后一个数字表示当天的v1人数其它vip等级以此类推<{/t}></li>
			</ol>
		</div>
	</div>
<{else if $conditions['action']=='equip'}>
<div class="accordion-heading">
	 	<span class="accordion-toggle" data-toggle="collapse" href="#collapse">
				<a href="javascript:;"><{t}>定义说明<{/t}></a>
		</span>
	</div>
	<div id="collapse" class="accordion-body in collapse">
		<div class="accordion-inner">
			<ol>
				<li><{t}>统计当日使用元宝升级<{/t}></li>
			</ol>
		</div>
	</div>
<{/if}>

	<div class="btn-group">
<{foreach $time_type as $type=>$item}>
	<button class="btn time_type <{if $type==$conditions['type']}>btn-inverse<{/if}>" type="button" name="<{$type}>" start-date="<{$item[1]}>" end-date="<{$item[2]}>"><{$item[0]}></button>
<{/foreach}>
	</div>
	<label style="margin-left:20px;"><{t}>时间<{/t}>：</label>
	<input class="input-small" placeholder="<{t}>输入开始日期<{/t}>" type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d',minDate:'<{$conditions['open_date']}>',dateFmt:'yyyy-MM-dd'})" id="start_date" name="start_date" value="<{$conditions['start_date']}>">
	<i class="icon-minus"></i>
	<input class="input-small" placeholder="<{t}>输入结束日期<{/t}>" type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d',minDate:'<{$conditions['open_date']}>',dateFmt:'yyyy-MM-dd'})" id="end_date" name="end_date" value="<{$conditions['end_date']}>">
	<input type="hidden" id="type" name="type">
	<input type="hidden" name="action" value="<{$conditions['action']}>">
	<button class="btn btn-primary" type="submit" id="btn_search"><{t}>搜 索<{/t}></button>
</form>

<{if $conditions['action']=='realm'}>
<table class="table table-bordered table-condensed table-hover" style="margin-top:10px;">
<thead>
	<tr>
		<th><{t}>日期<{/t}></th>
		<th></th>
		<{foreach $pet_realm_conf as $key=>$item}>
		<{for $foo=1 to 10}>
		<td class="item<{$key}> hide"><{$item}><{$foo}></td>
		<{/for}>
		<th><a href="javascript:;" class="item" name="item<{$key}>"><{$item}></a></th>
		<{/foreach}>
	</tr>
</thead>
<tbody>
	<{foreach $data as $date=>$row}>
	<tr>
		<td rowspan="2"><{$row['date']}>(<{t}>周<{/t}><{$row['week']}>)</td>
		<td><{t}>数量<{/t}></td>
		<{foreach $pet_realm_conf as $key=>$item}>
		<{for $foo=1 to 10}>
		<td class="item<{$key}> hide"><{$row['realm'|cat:$key|cat:'_remark'][$foo]|default:0}></td>
		<{/for}>
		<td><{$row['realm'|cat:$key]|default:0}></td>
		<{/foreach}>
		</td></td>
	</tr>
	<tr>
		<td><{t}>比例<{/t}></td>
		<{foreach $pet_realm_conf as $key=>$item}>
		<{for $foo=1 to 10}>
		<td class="item<{$key}> hide"><{if $row['realm'|cat:$key]&&isset($row['realm'|cat:$key|cat:'_remark'][$foo])}><{round($row['realm'|cat:$key|cat:'_remark'][$foo]/$row['realm'|cat:$key],4)*100}><{else}>0<{/if}>%</td>
		<{/for}>
		<td><{round($row['realm'|cat:$key]/$row['total_pet_realm'],4)*100}>%</td>
		<{/foreach}>
    </tr>
	<{/foreach}>
</tbody>
</table>

<{else if $conditions['action']=='pullulate'}>
<table class="table table-bordered table-condensed table-hover" style="margin-top:10px;">
<thead>
	<tr>
		<th><{t}>日期<{/t}></th>
		<th></th>
		<{foreach $pullulate_range as $key=>$item}>
		<th class="item_attack hide"><{t}>攻<{/t}><{$item[0]}>-<{$item[1]}></th>
		<{/foreach}>
		<th><a href="javascript:;" class="item" name="item_attack"><{t}>攻<{/t}></a></th>
		<{foreach $pullulate_range as $key=>$item}>
		<th class="item_defense hide"><{t}>防<{/t}><{$item[0]}>-<{$item[1]}></th>
		<{/foreach}>
		<th><a href="javascript:;" class="item" name="item_defense"><{t}>防<{/t}></a></th>
		<{foreach $pullulate_range as $key=>$item}>
		<th class="item_hp hide"><{t}>血<{/t}><{$item[0]}>-<{$item[1]}></th>
		<{/foreach}>
		<th><a href="javascript:;" class="item" name="item_hp"><{t}>血<{/t}></a></th>
	</tr>
</thead>
<tbody>
	<{foreach $data as $date=>$row}>
	<tr>
		<td rowspan="2"><{$row['date']}>(<{t}>周<{/t}><{$row['week']}>)</td>
		<td><{t}>数量<{/t}></td>
		<{foreach $pullulate_range as $key=>$item}>
		<th class="item_attack hide"><{$row['attack_remark'][$item[0]|cat:'-'|cat:$item[1]]|default:0}></th>
		<{/foreach}>
		<td><{$row['attack_max']}></td>
		<{foreach $pullulate_range as $key=>$item}>
		<th class="item_defense hide"><{$row['defense_remark'][$item[0]|cat:'-'|cat:$item[1]]|default:0}></th>
		<{/foreach}>
		<td><{$row['defense_max']}></td>
		<{foreach $pullulate_range as $key=>$item}>
		<th class="item_hp hide"><{$row['hp_remark'][$item[0]|cat:'-'|cat:$item[1]]|default:0}></th>
		<{/foreach}>
		<td><{$row['hp_max']}></td>
	</tr>
	<tr>
		<td><{t}>比例<{/t}></td>
		<{foreach $pullulate_range as $key=>$item}>
		<td class="item_attack hide"><{if isset($row['attack_remark'][$item[0]|cat:'-'|cat:$item[1]])&&$row['attack_count']}><{round($row['attack_remark'][$item[0]|cat:'-'|cat:$item[1]]/$row['attack_count'],4)*100}><{else}>0<{/if}>%</td>
		<{/foreach}>
		<td>--</td>
		<{foreach $pullulate_range as $key=>$item}>
		<td class="item_defense hide"><{if isset($row['defense_remark'][$item[0]|cat:'-'|cat:$item[1]])&&$row['defense_count']}><{round($row['defense_remark'][$item[0]|cat:'-'|cat:$item[1]]/$row['defense_count'],4)*100}><{else}>0<{/if}>%</td>
		<{/foreach}>
		<td>--</td>
		<{foreach $pullulate_range as $key=>$item}>
		<td class="item_hp hide"><{if isset($row['hp_remark'][$item[0]|cat:'-'|cat:$item[1]])&&$row['hp_count']}><{round($row['hp_remark'][$item[0]|cat:'-'|cat:$item[1]]/$row['hp_count'],4)*100}><{else}>0<{/if}>%</td>
		<{/foreach}>
		<td>--</td>
	</tr>
	<{/foreach}>
</tbody>
</table>

<{else if $conditions['action']=='jinjian'}>
<table class="table table-bordered table-condensed table-hover" style="margin-top:10px;">
<thead>
	<tr>
		<td rowspan="2"><{t}>日期<{/t}></td>
		<td rowspan="2"><{t}>铜钱参与人数<{/t}></td>
		<td rowspan="2"><{t}>铜钱参与次数<{/t}></td>
		<td rowspan="2"><{t}>消耗铜钱<{/t}></td>
		<td rowspan="2"><{t}>人均消耗铜钱<{/t}></td>
		<td rowspan="2"><{t}>元宝参与人数<{/t}></td>
		<td rowspan="2"><{t}>元宝参与次数<{/t}></td>
		<td rowspan="2"><{t}>消耗元宝<{/t}></td>
		<td rowspan="2"><{t}>人均消耗元宝<{/t}></td>
		<td colspan="10"><{t}>vip完成双倍的人数<{/t}></td>
	</tr>
	<tr>
	  <{for $foo=1 to 10}>
		<td><{t}>vip<{$foo}><{/t}></td>
	  <{/for}>
	</tr>
</thead>
<tbody>
<{if $data}>
	<{foreach $data as $date=>$row}>
		<tr>
			<td><{$row['date']}>(<{t}>周<{/t}><{$row['week']}>)</td>
			<td><{$row['t_player']}></td>
			<td><{$row['t_count']}></td>
			<td><{$row['t_pay']}></td>
			<td><{$row['t_avg_pay']}></td>
			<td><{$row['y_player']}></td>
			<td><{$row['y_count']}></td>
			<td><{$row['y_pay']}></td>
			<td><{$row['y_avg_pay']}></td>
			<{for $foo=1 to 10}>
			<td><{$row[$foo|cat:'_vip']|default:0}>/<{$row[$foo|cat:'_vip_count']|default:0}></td>
			<{/for}>

		</tr>
	<{/foreach}>
<{else}>
	<tr><td colspan="100"><font color="red"><{t}>暂时搜索不到数据！<{/t}></font></td></tr>
<{/if}>
</tbody>
</table>
<{else if $conditions['action']=='equip'}>
<table class="table table-bordered table-condensed table-hover" style="margin-top:10px;">
<thead>
	<tr>
		<td ><{t}>日期<{/t}></td>
		<td ><{t}>总人数<{/t}></td>
		<td ><{t}>总次数<{/t}></td>
		<td ><{t}>人均次数<{/t}></td>
	</tr>
</thead>
<tbody>
<{if $data}>
	<{foreach $data as $date=>$row}>
		<tr>
			<td><{$row['date']}>(<{t}>周<{/t}><{$row['week']}>)</td>
			<td><{$row['player_count']}></td>
			<td><{$row['count']}></td>
			<td><{$row['avg_count']}></td>
		</tr>
	<{/foreach}>
<{else}>
	<tr><td colspan="100"><font color="red"><{t}>暂时搜索不到数据！<{/t}></font></td></tr>
<{/if}>
</tbody>
</table>
<{else if $conditions['action']=='card'}>
<table class="table table-bordered table-condensed table-hover" style="margin-top:10px;">
<thead>
	<tr>
		<td ><{t}>日期<{/t}></td>
		<td ><{t}>总通关关卡数<{/t}></td>
		<td ><{t}>可挑战玩家数<{/t}></td>
		<td ><{t}>实际闯关的人数<{/t}></td>
		<td ><{t}>参与度<{/t}></td>
		<td ><{t}>人均关卡数<{/t}></td>
		<td ><{t}>最高关卡名称<{/t}></td>
	</tr>
</thead>
<tbody>
<{if $data}>
	<{foreach $data as $date=>$row}>
		<tr>
			<td><{$row['date']}>(<{t}>周<{/t}><{$row['week']}>)</td>
			<td><{$row['count']}></td>
			<td><{$row['allow_player']}></td>
			<td><{$row['count_player']}></td>
			<td><{$row['avg_player']|default:0}>%</td>
			<td><{$row['avg_count']|default:0}></td>
			<td><{$row['name']}></td>
		</tr>
	<{/foreach}>
<{else}>
	<tr><td colspan="100"><font color="red"><{t}>暂时搜索不到数据！<{/t}></font></td></tr>
<{/if}>
</tbody>
</table>

<{else if $conditions['action']=='analysis'}>
<table class="table table-bordered table-hover" style="margin-top:10px;">
<thead>
	<tr>
		<th><{t}>日期<{/t}></th>
		<th>部位</th>
		<th></th>
		<{for $foo=1 to 10}>
		<td class="strong4 hide"><{t}>等级<{/t}><{$foo}></td>
	    <{/for}>
		<th><a href="javascript:;" class="strong" name="strong4"><{t}>1-10等级<{/t}></a></th>
		<{for $foo=11 to 20}>
		<td class="strong5 hide"><{t}>等级<{/t}><{$foo}></td>
	    <{/for}>
		<th><a href="javascript:;" class="strong" name="strong5"><{t}>11-20等级<{/t}></a></th>

		<{for $foo=21 to 30}>
		<td class="strong6 hide"><{t}>等级<{/t}><{$foo}></td>
	    <{/for}>
		<th><a href="javascript:;" class="strong" name="strong6"><{t}>21-30等级<{/t}></a></th>

		<{for $foo=31 to 40}>
		<td class="strong7 hide"><{t}>等级<{/t}><{$foo}></td>
	    <{/for}>
		<th><a href="javascript:;" class="strong" name="strong7"><{t}>31-40等级<{/t}></a></th>

		<{for $foo=41 to 50}>
		<td class="strong8 hide"><{t}>等级<{/t}><{$foo}></td>
	    <{/for}>
		<th><a href="javascript:;" class="strong" name="strong8"><{t}>41-50等级<{/t}></a></th>

		<{for $foo=51 to 60}>
		<td class="strong9 hide"><{t}>等级<{/t}><{$foo}></td>
	    <{/for}>
		<th><a href="javascript:;" class="strong" name="strong9"><{t}>51-60等级<{/t}></a></th>

		<{for $foo=61 to 70}>
		<td class="strong10 hide"><{t}>等级<{/t}><{$foo}></td>
	    <{/for}>
		<th><a href="javascript:;" class="strong" name="strong10"><{t}>61-70等级<{/t}></a></th>

		<{for $foo=1 to 10}>
		<td class="strong1 hide"><{t}>凡火<{/t}><{$foo}></td>
	    <{/for}>
		<th><a href="javascript:;" class="strong" name="strong1"><{t}>凡火<{/t}></a></th>
        <{for $foo=1 to 10}>
		<td class="strong2 hide"><{t}>灵火<{/t}><{$foo}></td>
	  	<{/for}>
		<th><a href="javascript:;" class="strong" name="strong2"><{t}>灵火<{/t}></a></th>
        <{for $foo=1 to 10}>
		<td class="strong3 hide"><{t}>仙火<{/t}><{$foo}></td>
	  	<{/for}>
		<th><a href="javascript:;" class="strong" name="strong3"><{t}>仙火<{/t}></a></th>
		<{for $foo=1 to 10}>
		<td class="strong11 hide"><{t}>神火<{/t}><{$foo}></td>
	  	<{/for}>
		<th><a href="javascript:;" class="strong" name="strong11"><{t}>神火<{/t}></a></th>
	</tr>
</thead>
<tbody>
	<{foreach $data as $row}>
		<{for $part=1 to 6}>  <!-- 部位 -->
		<tr>
			<{if $part==1}>
			<td rowspan="6"><{$row['date']}>(<{t}>周<{/t}><{$row['week']}>)</td>
			<{/if}>
			<td><{$part_conf[$part]}></td>
			<td><{t}>人数<{/t}></td>
			<{$count_fan=0}><{$count_ling=0}><{$count_xian=0}><{$count_shen=0}>
			<{$count_level1=0}><{$count_level2=0}><{$count_level3=0}><{$count_level4=0}><{$count_level5=0}><{$count_level6=0}><{$count_level7=0}>
			<{for $level=1 to 10}>  <!-- 等级 -->
				<{$count_level1=$count_level1+$row['strong_level1_remark'][$part][$level]|default:0}>
				<td class="strong4 hide"><{$row['strong_level1_remark'][$part][$level]|default:0}></td>
	   		 <{/for}>
	   		 <td><{$count_level1}></td>
	   		 <{for $level=11 to 20}>  <!-- 等级 -->
	   		 	<{$count_level2=$count_level2+$row['strong_level2_remark'][$part][$level]|default:0}>
				<td class="strong5 hide"><{$row['strong_level2_remark'][$part][$level]|default:0}></td>
	   		 <{/for}>
	   		 <td><{$count_level2}></td>
	   		 <{for $level=21 to 30}>  <!-- 等级 -->
	   		 	<{$count_level3=$count_level3+$row['strong_level3_remark'][$part][$level]|default:0}>
				<td class="strong6 hide"><{$row['strong_level3_remark'][$part][$level]|default:0}></td>
	   		 <{/for}>
	   		 <td><{$count_level3}></td>
	   		 <{for $level=31 to 40}>  <!-- 等级 -->
	   		 	<{$count_level4=$count_level4+$row['strong_level4_remark'][$part][$level]|default:0}>
				<td class="strong7 hide"><{$row['strong_level4_remark'][$part][$level]|default:0}></td>
	   		 <{/for}>
	   		 <td><{$count_level4}></td>
	   		 <{for $level=41 to 50}>  <!-- 等级 -->
	   		 	<{$count_level5=$count_level5+$row['strong_level5_remark'][$part][$level]|default:0}>
				<td class="strong8 hide"><{$row['strong_level5_remark'][$part][$level]|default:0}></td>
	   		 <{/for}>
	   		 <td><{$count_level5}></td>
	   		 <{for $level=51 to 60}>  <!-- 等级 -->
	   		 	<{$count_level6=$count_level6+$row['strong_level6_remark'][$part][$level]|default:0}>
				<td class="strong9 hide"><{$row['strong_level6_remark'][$part][$level]|default:0}></td>
	   		 <{/for}>
	   		 <td><{$count_level6}></td>
	   		 <{for $level=61 to 70}>  <!-- 等级 -->
	   		 	<{$count_level7=$count_level7+$row['strong_level7_remark'][$part][$level]|default:0}>
				<td class="strong10 hide"><{$row['strong_level7_remark'][$part][$level]|default:0}></td>
	   		 <{/for}>
	   		 <td><{$count_level7}></td>
			<{for $level=1 to 10}>  <!-- 凡火 -->
				<{$count_fan=$count_fan+$row['strong_fan_remark'][$part][$level]|default:0}>
				<td class="strong1 hide"><{$row['strong_fan_remark'][$part][$level]|default:0}></td>
	   		 <{/for}>
	   		 <td><{$count_fan}></td>
	   		 <{for $level=11 to 20}>  <!-- 灵火 -->
	   		 	<{$count_ling=$count_ling+$row['strong_ling_remark'][$part][$level]|default:0}>
				<td class="strong2 hide"><{$row['strong_ling_remark'][$part][$level]|default:0}></td>
	   		 <{/for}>
	   		 <td><{$count_ling}></td>
	   		 <{for $level=21 to 30}>  <!-- 仙火 -->
	   		 	<{$count_xian=$count_xian+$row['strong_xian_remark'][$part][$level]|default:0}>
				<td class="strong3 hide"><{$row['strong_xian_remark'][$part][$level]|default:0}></td>
	   		 <{/for}>
	   		 <td><{$count_xian}></td>
	   		 <{for $level=31 to 40}>  <!-- 神火 -->
	   		 	<{$count_shen=$count_shen+$row['strong_shen_remark'][$part][$level]|default:0}>
				<td class="strong11 hide"><{$row['strong_shen_remark'][$part][$level]|default:0}></td>
	   		 <{/for}>
	   		 <td><{$count_shen}></td>
	   	</tr>

	    <{/for}>
	<{/foreach}>
</tbody>
</table>

<{/if}>

<div class="pagination pagination-centered"><{$page}></div>

</div>
</body>
</html>