<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap-responsive.min.css" />   
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script language="javascript" src="../../public/js/jquery.js"></script>
<script language="javascript" src="../../public/js/bootstrap.min.js"></script>
<script language="javascript" src="../../public/js/kindeditor/kindeditor-min.js"></script>
<script language="javascript" src="../../public/js/My97DatePicker/WdatePicker.js"></script>
<script language="javascript" src="../../public/js/phprpc_js/phprpc_client.min.js"></script>
<script language="javascript" src="../../public/js/lwjsback.js.php"></script>
<script lang="javascript">
var char_editor,tab2_editor;
KindEditor.ready(function(K) {
	char_editor = K.create('[name="char_econtent"]',{
			themeType:'diy',
			width:'400px',
			minWidth:'400px',
			height:'150px',
			items : ['source','undo', 'redo', '|','bold','link','unlink'],
			filterMode : false
	});
	tab2_editor=K.create('[name="econtent"]',{
			themeType:'diy',
			width:'400px',
			minWidth:'400px',
			height:'150px',
			items : ['source','undo', 'redo', '|','bold','link','unlink'],
			filterMode : false
	});
});
//tab3查询ajax回调
var tab3_callback = function(res){
		var html = '';
		for(var i in res.data.data){
				html += '<tr><td style="text-align:left">';
				for(var j in res.data.data[i]['char_info']){
						html += ' <a href="../gm/player.php?id='+res.data.data[i]['char_info'][j]['id']+'">'+res.data.data[i]['char_info'][j]['name']+'</a><br/>';
				}
				html += '</td>'+
						'<td>'+res.data.data[i]['email_title']+'</td>'+
						'<td style="text-align:left;width:550px;">'+res.data.data[i]['content']+'</td>'+
						'<td>'+res.data.data[i]['gm']+'</td>'+
						'<td>'+res.data.data[i]['ts']+'</td>'+
						'</tr>';
		}
		$('#tab3_tbody').html(html);
		$('#tab3_page').html(res.data.page);
};
//tab4查询ajax回调
var tab4_callback = function(res){
		var type = {1:'<{t}>在线<{/t}>',2:'<{t}>全服<{/t}>'},
		occ = {11:'<{t}>破天<{/t}>',21:'<{t}>舞月<{/t}>',31:'<{t}>飞翎<{/t}>',41:'<{t}>幻雪<{/t}>'},
		camps = {0:'<{t}>无<{/t}>',1:'<{t}>魏<{/t}>',2:'<{t}>蜀<{/t}>',3:'<{t}>吴<{/t}>'},
		status = {0:'<span class="label label-info"><{t}>未更新<{/t}></span>',1:'<span class="label label-success"><{t}>已更新<{/t}></span>',2:'<span class="label"><{t}>停止<{/t}></span>',3:'<span class="label label-inverse"><{t}>已挂起<{/t}></span>'},
		html = '';
		for(var i in res.data.data){
				html += '<tr id="'+res.data.data[i]['eventid']+'">'+
						'<td><label><input type="radio" name="eventid" value="'+res.data.data[i]['eventid']+'">'+res.data.data[i]['eventid']+'</label></td>'+
						'<td>';
				for(var j in res.data.data[i]['occ']){
						html += occ[res.data.data[i]['occ'][j]]+',';
				}
				html += '</td><td>';
				for(var k in res.data.data[i]['camps']){
						html += camps[res.data.data[i]['camps'][k]]+',';
				}
				html += '</td>'+
						'<td>'+res.data.data[i]['level'][0]+'-'+res.data.data[i]['level'][1]+'</td>'+
						'<td>'+type[res.data.data[i]['type']]+'</td>'+
						'<td>'+res.data.data[i]['starttime']+'~'+res.data.data[i]['endtime']+'</td>'+
						'<td class="status">'+status[res.data.data[i]['state']]+'</td>'+
						'<td>'+res.data.data[i]['title']+'</td>'+
						'<td>'+res.data.data[i]['content']+'</td>'+
						'<td>'+res.data.data[i]['gmer']+'</td>'+
						'</tr>';
		}
		html += '<tr><td colspan="10"><button type="button" class="btn btn-primary" onclick="upboemail(1)"><{t}>更新<{/t}></button>   <button type="button" class="btn btn-primary" onclick="upboemail(2)"><{t}>停止<{/t}></button><span id="tab4_ajax_result" class="badge badge-warning"></span></td></tr>';
		$('#tab4_tbody').html(html);
		$('#tab4_page').html(res.data.page);
};
function upboemail(status){
		var eventid = $('#tab4 [name="eventid"]:checked').val();
		if(eventid==''||eventid==undefined){
				$('#tab4_ajax_result').html('<{t}>请选择ID<{/t}>');
				return;
		}
		var phprpc_client = new PHPRPC_Client('../interface/pm_api.php', ['pm_email']);
		phprpc_client.pm_email({eventid:eventid,status:status,action:'update'}, function (result, args, output, warning) {
				if(result.status=='ok'){
						$('#tab4_ajax_result').html(eventid+result.info);
						$('#'+eventid+' .status').html(status==1?'<span class="label label-success"><{t}>已更新<{/t}></span>':'<span class="label"><{t}>停止<{/t}></span>');
				}else{
						$('#tab4_ajax_result').html(eventid+'<{t}>设置失败<{/t}>');
				}
		}, true);
}

$(function($){	
	//角色发送
	$('#tab1_send').click(function(){
		var char_type = $('#tab1 [name="char_type"]:checked').val(),
		char_player = $.trim($("#char_player").val()),
		char_etitle = $.trim($('#tab1 [name="char_etitle"]').val()),
		char_econtent = $.trim(char_editor.html());
		
		$("#tab1_ajax_result").html('');
		if(char_player === '' || char_etitle ===''||char_econtent===''){
				$("#tab1_ajax_result").html('<{t}>请设置玩家列表、奖励列表、邮件文本内容<{/t}>');
				return;
		}
		$.ajax({
				type:'POST',
				url:'?',
				data:{type:'char_send',char_type:char_type,player:char_player,etitle:char_etitle,econtent:char_econtent},
				dataType:'json',
				success:function(result){
						if(result.status==='error'){
								if(result.info==='player_exists'){
										var player_check = '';
										for(var key in result.data){
												player_check += key + ': ';
												player_check += result.data[key]===null?'not exist':'exist';
												player_check += "\n";
										}
										$("#char_player_check").show().html(player_check);
								}else{
										$("#tab1_ajax_result").html(result.info);
								}
						}else{
								$("#char_player").val('');
								$('#tab1 [name="char_etitle"]').val('');
								char_editor.html('');
								$("#tab1_ajax_result").html(result.info);
						}
				}
		})
	});
	//编辑器同步滚动
	$('.scroll_t').scroll(function(){
			var id = $(this).attr('id');
			if(id.match(/.*_check/)){
					$('#'+id.replace(/_check/,'')).scrollTop($(this).scrollTop());
			}else{
					$('#'+id+'_check').scrollTop($(this).scrollTop());
			}
	});
	//条件发送邮件
	$('#tab2_send').click(function(){
			var occ = [],
			camps = [],
			level = [],
			title = '',
			content = '',
			start = '',
			type = '',
			end = '';
			//职业
			$('#tab2 [name="occ"]:checked').each(function(i){
					occ[i] = $(this).val();
			})
			//阵营
			$('#tab2 [name="camps"]:checked').each(function(j){
					camps[j] = $(this).val();
			})
			level[0] = parseInt($('#tab2 [name="minlvl"]').val());
			level[1] = parseInt($('#tab2 [name="maxlvl"]').val());
			type = $('#tab2 [name="type"]:checked').val();
			title = $.trim($('#tab2 [name="etitle"]').val());
			content = $.trim(tab2_editor.html());
			start = $('#tab2 [name="start"]').val();
			end = $('#tab2 [name="end"]').val();
			//等级检查
			if(isNaN(level[0])|| isNaN(level[1]) || level[0]>level[1]||level[0]<=0){
					$('#tab2_ajax_result').html('<{t}>请确认等级<{/t}>');
					return;
			}
			//标题检查
			if(title==''||content==''){
					$('#tab2_ajax_result').html('<{t}>请输入邮件标题和邮件内容<{/t}>');
					return;
			}
			//职业
			if(occ.length==0){
					$('#tab2_ajax_result').html('<{t}>请选择职业<{/t}>');
					return;
			}
			//职业
			if(camps.length==0){
					$('#tab2_ajax_result').html('<{t}>请选择阵营<{/t}>');
					return;
			} 
			var data = {
					occ:occ,
					camps:camps,
					level:level,
					title:title,
					type:type,
					content:content,
					start:start,
					end:end,
					action:'set',
					gmer:'<{$gmer}>'
			};
			var phprpc_client = new PHPRPC_Client('../interface/pm_api.php', ['pm_email']);
			phprpc_client.pm_email(data, function (result, args, output, warning) {
					$('#tab2_ajax_result').html(result.info);
					if(result.status=='ok'){
							$('#tab2 [name="minlvl"]').val('');
							$('#tab2 [name="maxlvl"]').val('');
							$('#tab2 [name="etitle"]').val('');
							tab2_editor.html('');
							$('#tab2 [name="start"]').val('');
							$('#tab2 [name="end"]').val('');
					}
			}, true);
	});
	//邮件日志查询
	$('#tab3_send').click(function(){
			var start = $('#tab3 [name="start"]').val(),
			end = $('#tab3 [name="end"]').val(),
			charinfo =$('#tab3 [name="char"]').val(),
			gmer = $('#tab3 [name="gmer"]').val(),
			keyword = $('#tab3 [name="keyword"]').val();
			
			$.ajax({
					url:'?',
					type:'post',
					data:{type:'log',callback:'tab3_callback',start:start,end:end,char:charinfo,gmer:gmer,keyword:keyword},
					dataType:'json',
					success:tab3_callback
			})
	});
	//条件发送记录
	$('#myTab a[href="#tab4"]').click(function(){
		$.ajax({
				url:'?',
				type:'post',
				data:{type:'tab4_log',callback:'tab4_callback'},
				dataType:'json',
				success:tab4_callback
		});
	});    
})
</script>
</head>
<body>
<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a href="#tab1" data-toggle="tab"><{t}>角色发送<{/t}></a></li>
		<li><a href="#tab2" data-toggle="tab"><{t}>条件发送<{/t}></a></li> 
		<li><a href="#tab3" data-toggle="tab" onClick="javascript:$('#tab3_send').click();"><{t}>角色发送记录<{/t}></a></li>
		<li><a href="#tab4" data-toggle="tab"><{t}>条件发送记录<{/t}></a></li>
</ul>
<div class="tab-content">
		<div class="tab-pane active" id="tab1">
				<dl class="dl-horizontal">
						<dt><{t}>收件人<{/t}></dt>
						<dd class="form-inline">
							<input type="radio" name="char_type" value="3" id="char_type_3" checked="checked">
							<label for="char_type_3"><{t}>角色名<{/t}></label>
							<input type="radio" name="char_type" value="1" id="char_type_1" style="margin-left:5px;">
							<label for="char_type_1"><{t}>角色id<{/t}></label>
							<input type="radio" name="char_type" value="2" id="char_type_2" style="margin-left:5px;">
							<label for="char_type_2"><{t}>账号<{/t}></label>
							<span class="label label-info" style="margin-left:5px;"><{t}>玩家列表用Enter键分割，支持excel格式<{/t}></span>
						</dd>
						<dd><textarea id="char_player" name="char_player" style=" width:390px; height: 100px; resize: none" class="scroll_t"></textarea>  <textarea name="char_player_check" style=" height: 100px; resize: none; display: none;" id="char_player_check" class="scroll_t"></textarea></dd>
						<dt><{t}>邮件标题<{/t}></dt>
						<dd><input type="text" name="char_etitle" style="width:390px;"></dd>
						<dt><{t}>邮件内容<{/t}></dt>
						<dd><textarea name="char_econtent"></textarea></dd>
						<dt></dt>
						<dd style="margin-top:10px;">
							<input type="button" class="btn btn-primary" id="tab1_send" value="<{t}>发送<{/t}>">
							<span id="tab1_ajax_result" class="badge badge-warning"></span>
						</dd>
				</dl>
		</div>
		<div class="tab-pane" id="tab2">
				<dl class="dl-horizontal">
						<dt><{t}>职业<{/t}></dt>
						<dd class="form-inline" style="margin-bottom: 5px;">
							<label><input type="checkbox" name="occ" value="11" checked="checked"> <{t}>破天<{/t}> </label>
							<label><input type="checkbox" name="occ" value="21" checked="checked" style="margin-left:5px;"> <{t}>舞月<{/t}> </label>
							<label><input type="checkbox" name="occ" value="31" checked="checked" style="margin-left:5px;"> <{t}>飞翎<{/t}> </label>
							<label><input type="checkbox" name="occ" value="41" checked="checked" style="margin-left:5px;"> <{t}>幻雪<{/t}> </label>
						</dd>
						<dt><{t}>阵营<{/t}></dt>
						<dd class="form-inline" style="margin-bottom: 5px;">
							<label><input type="checkbox" name="camps" value="0" checked="checked"> <{t}>无<{/t}> </label>
							<label><input type="checkbox" name="camps" value="1" checked="checked" style="margin-left:5px;"> <{t}>魏<{/t}> </label>
							<label><input type="checkbox" name="camps" value="2" checked="checked" style="margin-left:5px;"> <{t}>蜀<{/t}> </label>
							<label><input type="checkbox" name="camps" value="3" checked="checked" style="margin-left:5px;"> <{t}>吴<{/t}> </label>
						</dd>
						<dt><{t}>等级<{/t}></dt>
						<dd class="form-inline" style="margin-bottom: 5px;">
								<input type="text" name="minlvl" class="input-mini" value="1"  maxlength="3">
								<i class="icon-minus"></i>
								<input type="text" name="maxlvl" class="span1" value="100" maxlength="3">
						</dd>
						<dt><{t}>在线情况<{/t}></dt>
						<dd class="form-inline" style="margin-bottom: 5px;">
								<label><input type="radio" name="type" value="1" checked="checked"> <{t}>在线<{/t}> </label>
								<label><input type="radio" name="type" value="2" style="margin-left:5px;"> <{t}>全服<{/t}> </label>
						</dd>
						<dt><{t}>时间<{/t}></dt>
						<dd class="form-inline" style="margin-bottom: 5px;">
							<input type="text" id="d1" name="start" class="input-medium"  placeholder="<{t}>开始时间<{/t}>" onfocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'%y-%M-%d %H:{%m+5}:%s'})">
							<i class="icon-minus"></i>
							<input type="text" id="d2" name="end" class="input-medium" placeholder="<{t}>结束时间<{/t}>" onfocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d1\')}'})">
							<span class="label label-info"><{t}>请至少提前5分钟设置<{/t}></span></dd>
						<dt><{t}>邮件标题<{/t}></dt>
						<dd><input type="text" name="etitle"></dd>
						<dt><{t}>邮件内容<{/t}></dt>
						<dd><textarea name="econtent"></textarea></dd>
						<dd style="margin-top:10px;">
							<input type="button" class="btn btn-primary" id="tab2_send" value="<{t}>设置<{/t}>">
							<span id="tab2_ajax_result" class="badge badge-warning"></span>
						</dd>
				</dl>
		</div>
		<div class="tab-pane" id="tab3">
				<form class="form-actions form-inline" style="margin:0">
						<{t}>时间<{/t}>：
						<input type="text" name="start" onfocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="span2"> <i class="icon-minus"></i> <input type="text" name="end" onfocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="span2">
						<{t}>角色<{/t}>：<input type="text" name="char" class="span2">
						GMER：<input type="text" name="gmer" class="span2">
						<{t}>邮件关键词<{/t}>：<input type="text" name="keyword" class="span2">
						<button type="button" id="tab3_send" class="btn btn-primary"><{t}>查询<{/t}></button>
				</form>
				<table class="table table-striped table-bordered table-condensed">
						<thead>
								<tr>
										<th><{t}>角色列表<{/t}></th>
										<th><{t}>邮件标题<{/t}></th>
										<th><{t}>邮件内容<{/t}></th>
										<th>GMER</th>
										<th><{t}>时间<{/t}></th>
								</tr>
						</thead>
						<tbody id="tab3_tbody">
						</tbody>
				</table>
				<div class="pagination pagination-centered" id="tab3_page">
				</div>
		</div>
		<div class="tab-pane" id="tab4">
				<table class="table table-striped table-bordered table-condensed">
						<thead>
								<tr>
										<th>ID</th>
										<th><{t}>职业列表<{/t}></th>
										<th><{t}>阵营列表<{/t}></th>
										<th><{t}>等级<{/t}></th>
										<th><{t}>在线情况<{/t}></th>
										<th><{t}>时间<{/t}></th>
										<th><{t}>状态<{/t}></th>
										<th><{t}>邮件标题<{/t}></th>
										<th><{t}>邮件内容<{/t}></th>
										<th>GMER</th>
								</tr>
						</thead>
						<tbody id="tab4_tbody">
						</tbody>
				</table>
				<div class="pagination pagination-centered" id="tab4_page">
				</div>
		</div>
</div>
</body>
</html>