<!DOCTYPE html>
<html>
<head>
<title><{t}>出了一些小小的问题<{/t}></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="refresh" content="5;url=<{$jumpUrl}>">
<link rel="stylesheet" type="text/css" href="../../public/css/error.css" />
</head>
<body>
<div class="main">
	<div class="content">
		<h2><{t}>出了一些小小的问题<{/t}></h2>
		<p><{$message}></p>
		<p class="sub">如果对于这个异常有任何疑问，不妨联系下我们的吧。</p>
		<a class="return" href="../../index.php" target="_top">返回首页</a>
	</div>
	<img src="../../public/images/dw.gif"/>
	</div>
</div>
</body>
</html>
