<!DOCTYPE html>
<html>
<head>
	<title><{t}>货币流水<{/t}></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap-responsive.min.css"/>
	<style type="text/css">
	#type_list .span2{
		width:122px;
		height:20px;
		line-height:20px;
		overflow:hidden;
	}
	</style>
	<script language="javascript" src="../../public/js/jquery.js"></script>
	<script language="javascript" src="../../public/js/bootstrap.min.js"></script>
	<script language="javascript" src="../../public/js/My97DatePicker/WdatePicker.js"></script>
	<script language="javascript">
	$(function($){
		$('#btn_type').toggle(function(){
			$('#type_list').fadeIn();
		},function(){
			$('#type_list').fadeOut();
		});

		$('#cb_all').click(function(){
			$('.type').attr('checked',this.checked);
		});

		$('.btn_selected').click(function(){
			$("input[name='type[]'][value='"+this.value+"']").attr('checked',false);
			$('#btn_search').click();
		});

		<{if $conditions['type']}>
			$('#type_list').fadeIn();
		<{/if}>
	});
	</script>
</head>

<body>
<form action="?" method="get" class="well form-search" style=" margin-bottom:10px;">
	<label <{if $conditions['from']=='info'}>class="hide"<{/if}>><{t}>角色ID<{/t}>：
	<input type="text" name="char_id" class="input-mini" maxlength="20" value="<{$conditions['char_id']}>">
	</label>

	<label style="margin-left:5px;"><{t}>时间<{/t}>：</label>
	<input class="input-small" placeholder="<{t}>输入开始日期<{/t}>" type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d',minDate:'<{$conditions['open_date']}>',dateFmt:'yyyy-MM-dd'})" id="start_date" name="start_date" value="<{$conditions['start_date']}>">
	<i class="icon-minus"></i>
	<input class="input-small" placeholder="<{t}>输入结束日期<{/t}>" type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d',minDate:'<{$conditions['open_date']}>',dateFmt:'yyyy-MM-dd'})" id="end_date" name="end_date" value="<{$conditions['end_date']}>">
	<label style="margin-left:5px;"><{t}>变动数目<{/t}>：</label>
	<label><input class="input-mini" placeholder="<{t}>最低<{/t}>" type="text" maxlength="12" name="min_money_num" value="<{$conditions['min_money_num']}>"/></label>
	<label><i class="icon-minus"></i></label>
	<label><input class="input-mini" placeholder="<{t}>最高<{/t}>" type="text" maxlength="12" name="max_money_num" value="<{$conditions['max_money_num']}>"/></label>
	<label style="margin-left:5px;"><{t}>操作<{/t}>：</label>
	<select name="io" class="input-small">
		<option value=""><{t}>全部<{/t}></option>
		<{foreach $money_io_conf as $key=>$item}>
		<option value="<{$key}>" <{if $conditions['io']===$key}>selected="selected"<{/if}>><{$item}></option>
		<{/foreach}>
	</select>
	<label style="margin-left:5px;"><{t}>货币种类<{/t}>：</label>
	<select name="money_type" class="input-small">
		<option value=""><{t}>全部<{/t}></option>
		<{foreach $money_class_conf as $key=>$item}>
		<option value="<{$key}>" <{if $conditions['money_type']==$key}>selected="selected"<{/if}>><{$item}></option>
		<{/foreach}>
	</select>
	<button id="btn_type" type="button" class="btn btn-link"><{t}>项目类型<{/t}></button>
	<button class="btn btn-primary" id="btn_search"><{t}>搜 索<{/t}></button>
<{if $conditions['type']}>
	<hr style="margin:5px 0;"/>
	<div style="margin:5px 0; line-height:22px;">
		<b><{t}>已选项目<{/t}>：</b>
	<{foreach $conditions['type'] as $item}>
		<button class="btn btn-mini btn_selected" type="button" value="<{$item}>"><{$money_type_conf[$item]}><i class="icon-remove"></i></button>
	<{/foreach}>
	</div>
<{/if}>
	<div id="type_list" class="row hide">
		<div class="span2"><input type="checkbox" id="cb_all"> <span class="label label-success"><{t}>全选<{/t}></span></div>
	<{foreach $money_type_conf as $key=>$item}>
		<div class="span2"><input type="checkbox" name="type[]" value="<{$key}>" class="type" <{if in_array($key,$conditions['type'])}>checked="checked"<{/if}>> <{$item}></div>
	<{/foreach}>
	</div>
<input type="hidden" name="from" value="<{$conditions['from']}>">
</form>

<{if $data}>
<div class="pagination pagination-right" style="margin:0;"><ul><{$page}></ul></div>
<table class="table table-bordered table-hover">
<thead>
	<tr>
		<th><{t}>角色名<{/t}></th>
		<th><{t}>货币类型<{/t}></th>
		<th><{t}>操作<{/t}></th>
		<th><{t}>项目<{/t}></th>
		<th><{t}>数目<{/t}></th>
		<th><{t}>剩余<{/t}></th>
		<th><{t}>时间<{/t}></th>
	</tr>
</thead>
<tbody>
<{foreach $data as $row}>
	<tr>
		<td><{$row['char_name']}></td>
		<td><span <{if $row['money_type']==3}>class="badge badge-inverse"<{/if}>><{$money_class_conf[$row['money_type']]}></span></td>
		<td><span class="badge <{if $row['io']==1}>badge-important<{else if $row['io']==2}>badge-info<{/if}>"><{$money_io_conf[$row['io']]}></span></td>
		<td><{$money_type_conf[$row['type']]|default:$row['type']}></td>
		<td><{$row['money_num']}></td>
		<td><{$row['left_num']}></td>
		<td><{$row['time']|date_format:'%Y-%m-%d %H:%M:%S'}></td>
	</tr>
<{/foreach}>
</tbody>
</table>
<div class="pagination pagination-centered" style="margin:0;"><{$page}></div>
<{/if}>
</body>
</html>