<!DOCTYPE html>
<html>
<head>
<title><{t}>任务流水<{/t}></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap-responsive.min.css"/>
<script language="javascript" src="../../public/js/jquery.js"></script>
<script language="javascript" src="../../public/js/bootstrap.min.js"></script>
<script language="javascript" src="../../public/js/My97DatePicker/WdatePicker.js"></script>
</head>

<body>
<form action="?" method="get" class="well form-search" style="margin-bottom:10px;">
	<label <{if $conditions['from']=='info'}>class="hide"<{/if}>><{t}>角色ID<{/t}>：
	<input type="text" name="char_id" class="input-mini" maxlength="20" value="<{$conditions['char_id']}>">
	</label>
	<label style="margin-left:5px;"><{t}>任务ID<{/t}>：
	<input type="text" name="mid" class="input-medium" maxlength="50" value="<{$conditions['mid']}>">
	</label>
	<label style="margin-left:5px;"><{t}>任务类型<{/t}>：
	<select name="type" class="input-small">
		<option value=""><{t}>全部...<{/t}></option>
	<{foreach $mission_type_conf as $key=>$item}>
	<{if ($conditions['action']=='main' && $key<3) || ($conditions['action']=='daily' && $key>2)}>
		<option value="<{$key}>"  <{if $conditions['type']===$key}>selected="selected"<{/if}>><{$item}></option>
	<{/if}>
	<{/foreach}>
	</select>
	</label>
	
	<label style="margin-left:5px;"><{t}>时间<{/t}>：</label>
	<input class="input-small" placeholder="<{t}>输入开始日期<{/t}>" type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d',minDate:'<{$conditions['open_date']}>',dateFmt:'yyyy-MM-dd'})" id="start_date" name="start_date" value="<{$conditions['start_date']}>">
	<i class="icon-minus"></i>
	<input class="input-small" placeholder="<{t}>输入结束日期<{/t}>" type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d',minDate:'<{$conditions['open_date']}>',dateFmt:'yyyy-MM-dd'})" id="end_date" name="end_date" value="<{$conditions['end_date']}>">
	<button class="btn btn-primary" id="btn_search"><{t}>搜 索<{/t}></button>
<input type="hidden" name="from" value="<{$conditions['from']}>">
<input type="hidden" name="action" value="<{$conditions['action']}>">
</form>

<div id="nav">
	<ul class="nav nav-tabs" style="margin-bottom:10px;">
		<{foreach $action_conf as $key=>$item}>
    <li <{if $key==$conditions['action']}>class="active"<{/if}>><a href="?action=<{$key}>&char_id=<{$conditions['char_id']}>&from=<{$conditions['from']}>"><{$item}></a></li>
		<{/foreach}>
	</ul>
</div>

<div class="pagination pagination-right" style="margin:0;"><{$page}></div>
<table class="table table-bordered table-hover">
<thead>
	<tr>
		<th rowspan="2"><{t}>任务序号<{/t}></th>
		<th rowspan="2"><{t}>任务ID<{/t}></th>
		<th rowspan="2"><{t}>任务名称<{/t}></th>
		<th rowspan="2"><{t}>任务类型<{/t}></th>
		<th colspan="2"><{t}>领取状态<{/t}></th>
		<th colspan="2"><{t}>完成状态<{/t}></th>
		<th rowspan="2"><{t}>用时(秒)<{/t}></th>
	</tr>
	<tr>
		<th><{t}>人物等级<{/t}></th>
		<th><{t}>领取时间<{/t}></th>
		<th><{t}>人物等级<{/t}></th>
		<th><{t}>完成时间<{/t}></th>
	</tr>
</thead>
<tbody>
<{foreach $data as $row}>
	<tr>
		<td><{$row['num']}></td>
		<td><{$row['mid']}></td>
		<td><{$row['mission_name']}></td>
		<td><{$mission_type_conf[$row['type']]|default:$row['type']}></td>
		<td><{$row['level']}></td>
		<td><{$row['time']}></td>
		<td><{$row['complete_level']}></td>
		<td><{$row['complete_time']}></td>
		<td><{$row['use_time']}></td>
	</tr>
<{/foreach}>
</tbody>
</table>
<div class="pagination pagination-centered" style="margin:0;"><{$page}></div>
</body>
</html>